[
 {
  :quasi-ebook-reader.input-path "books-confidential/marek-aureliusz-rozmyslania.txt"
  :quasi-ebook-reader.output-path "books/0001.txt"
  :quasi-ebook-reader.password "mleko-krzeslo-238-pilot-samolot"
  }
]
